<div class="card" style="max-width: 1240px; margin: 30px auto">
  <p-carousel
    [value]="products"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3">
            <img
              src="assets/images/product/{{ product.image }}"
              [alt]="product.name"
              class="product-image"
            />
          </div>
          <div class="product-item-content-bottom">
            <div class="product-item-content-infor">
              <h4 class="mb-1">{{ product.name }}</h4>
              <h6 class="mt-0 mb-3">${{ product.price }}</h6>
              <span
                [class]="
                  'product-badge status-' +
                  product.inventoryStatus.toLowerCase()
                "
                >{{ product.inventoryStatus }}</span
              >
              <div class="car-buttons mt-5">
                <p-button
                  type="button"
                  styleClass="p-button p-button-rounded mr-2"
                  icon="pi pi-search"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-success p-button-rounded mr-2"
                  icon="pi pi-star-fill"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-help p-button-rounded"
                  icon="pi pi-cog"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
