:host ::ng-deep .card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  .card-head {
    display: flex;

    .card-head-left {
      .card-head-img {
        width: 120px;
        height: 120px;
        margin-right: 30px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 95%;
          height: 95%;
          background-color: #fff;
        }
        .card-head-imgtest {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 94%;
          height: 94%;
        }
      }
    }

    .card-head-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .card-content-top {
        font-size: 38px;
        line-height: 1.2;
        color: #454360;
      }
      .card-content-bottom {
        color: #596172;
      }
    }
  }
  .card-body {
    margin: 35px 0 60px;
    color: #596172;
  }
  .card-footer {
    .card-footer-tag {
      font-size: 14px !important;
      margin-bottom: 12px;
      margin-right: 10px;
      display: inline-block;
      box-shadow: 0px 2px 6px rgb(7 10 25 / 10%);
      padding: 6px 8px 4px;
      line-height: 1.2;
      margin-right: 10px;
      background: #fff;
      color: #4b4870;
    }
    .footer-author {
      .footer-avatar {
        width: 35px;
        height: 35px;

        > img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .footer-author-name {
        margin-left: 10px;
      }
    }
  }
}
