<div class="card">
  <div class="card-head">
    <div class="card-head-left">
      <div
        class="card-head-img"
        [ngStyle]="{
          'background-image':
            'url(./../../assets/images/product/' + rowDataImg + ')'
        }"
      >
        <img
          class="card-head-imgtest imgtransform"
          src="../../../assets/images/product/{{ rowDataImg }}"
        />
      </div>
    </div>

    <div class="card-head-right">
      <h4 class="card-content-top">
        {{ rowDataTitle }}
      </h4>
      <div class="card-content-bottom">
        {{ rowDataDate }}
      </div>
    </div>
  </div>

  <div class="card-body">{{ rowDataText }}</div>
  <div class="card-footer">
    <div
      class="align-items-center card-container blue-container flex flex-wrap justify-content-between"
    >
      <div class="flex flex-wrap justify-content-start">
        <div class="card-footer-tag">
          <p>
            <span>#</span>

            {{ rowDataTagOne }}
          </p>
        </div>
        <div class="card-footer-tag">
          <p>
            <span>#</span>

            {{ rowDataTagTwo }}
          </p>
        </div>
      </div>
      <div
        class="footer-author align-items-center flex flex-wrap justify-content-end"
      >
        <div class="footer-avatar">
          <img src="../../../assets/images/product/{{ rowDataAvt }}" alt="" />
        </div>
        <div class="footer-author-name">{{ rowDataName }}</div>
      </div>
    </div>
  </div>
</div>
