<div class="tagcloud-tag">
  <div class="tag-item buttontransform">
    <span class="tag-item-icon">#</span>Health
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon">#</span>Lifestyle
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon">#</span>Music
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-buttontransform">#</span>Technology
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon">#</span>Travel
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon">#</span>Video
  </div>
</div>
