<div class="card" style="max-width: 1240px; margin: 5px auto">
  <div
    class="flex flex-wrap md:justify-content-between justify-content-center card-container"
  >
    <div class="flex align-items-center justify-content-center">
      <div
        class="flex align-items-center justify-content-center"
        style="padding: 5px 0; margin: 0 2px"
      >
        <a href="" style="width: 38px; text-align: center; margin: 0 2px">
          <i
            class="fa-brands fa-facebook-f onhover-one"
            style="color: #175beb; font-size: 24px"
          ></i>
        </a>
        <a href="" style="width: 38px; text-align: center; margin: 0 2px">
          <i
            class="fa-brands fa-twitter onhover-one"
            style="color: #1da1f2; font-size: 24px"
          ></i>
        </a>

        <a href="" style="width: 38px; text-align: center; margin: 0 2px">
          <i
            class="fa-brands fa-instagram onhover-one"
            style="color: #ef00a2; font-size: 24px"
          ></i>
        </a>

        <a href="" style="width: 38px; text-align: center; margin: 0 2px">
          <i
            class="fa-solid fa-rss onhover-one"
            style="color: #f26522; font-size: 24px"
          ></i>
        </a>
      </div>
    </div>
    <div
      class="font-bold flex align-items-center justify-content-center"
      style="font-size: 60px; color: #4b4870"
    >
      <span style="color: #ff4c60" class="title ularge black no-margin">M</span
      >aktub
    </div>
    <div class="flex align-items-center justify-content-center onhover-one">
      <button
        pButton
        icon="pi pi-search"
        type="button"
        class="p-button-raised p-button-rounded"
        style="
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: #ff4c60;
          border: none;
        "
      ></button>
    </div>
  </div>
</div>
