:host ::ng-deep .header-logo {
  max-width: 1240px;
  margin: 5px auto;

  .header-icon-container {
    padding: 5px 0;
    margin: 0 2px;

    > a {
      width: 38px;
      text-align: center;
      margin: 0 2px;

      .header-facebook-icon {
        color: #175beb;
        font-size: 24px;
      }
      .header-twitter-icon {
        color: #1da1f2;
        font-size: 24px;
      }
      .header-instagram-icon {
        color: #ef00a2;
        font-size: 24px;
      }
      .header-rss-icon {
        color: #f26522;
        font-size: 24px;
      }
    }
  }

  // !----------fixing------
  .header-title {


    font-size: 60px;
    color: #4b4870;

    .header-title-m {
      color: #ff4c60;

    }
  }

  // !----------fixing------
  .header-button {
    width: 48px;
    height: 48px;
    margin-left: 123px;
    border-radius: 50%;
    background-color: #ff4c60;
    border: none;
  }
}
