:host ::ng-deep .p-datatable {
  .p-datatable-tbody {
    > tr {
      position: relative;
      background: #ffffff;
      color: #495057;
      transition: box-shadow 0.2s;
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
      padding: 50px 70px;
      max-width: 750px;

      -webkit-box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%),
        0 22px 27px -30px rgb(7 10 25 / 10%);
      box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%),
        0 22px 27px -30px rgb(7 10 25 / 10%);
      > td {
        border: none;
        padding: 0;
      }
    }
  }
}
