:host ::ng-deep .p-datatable {
  .p-datatable-tbody {
    > tr {
      position: relative;
      background: #ffffff;
      color: #495057;
      transition: box-shadow 0.2s;
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
      padding: 50px 70px;

      -webkit-box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%),
        0 22px 27px -30px rgb(7 10 25 / 10%);
      box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%),
        0 22px 27px -30px rgb(7 10 25 / 10%);
      > td {
        border: none;
        padding: 0;
      }
    }
  }
}

:host ::ng-deep .p-paginator {
  background-color: transparent;
  border: none;

  .p-paginator-pages {
    .p-paginator-page {
      &.p-highlight {
        background-color: #ff4c60;
        color: white;
      }
    }
  }
  .p-paginator-first,
  .p-paginator-last {
    display: none !important;
  }
}
:host ::ng-deep .coninue-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 8px 25px;
  background-color: #4b4870;
  color: white;
  border: none;
}

:host ::ng-deep .card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  .card-content-date {
    display: none;
  }
  .card-head {
    display: flex;

    .card-head-left {
      .card-head-img {
        width: 120px;
        height: 120px;
        margin-right: 30px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 95%;
          height: 95%;
          background-color: #fff;
        }
        .card-head-imgtest {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 94%;
          height: 94%;
        }
      }
    }

    .card-head-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .card-content-top {
        font-size: 38px;
        line-height: 1.2;
        color: #454360;
      }
      .card-content-bottom {
        color: #596172;

        > span {
          padding: 0 15px;

          .icon-color {
            color: #ff4c60;
          }
        }
        > span:first-child {
          position: relative;
          margin-left: -15px;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 95%;
            background-color: #ff4c60;
            width: 20px;
            height: 2px;
          }
        }
      }
    }
  }

  .big-guy {
    display: block;

    .card-head-left {
      .card-head-img {
        width: 100%;
        height: 367px;
        margin-right: 0px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
    }
    .card-head-right {
      display: flex;
      justify-content: center;
      align-items: center;
      .card-content-top {
        margin: 10px;
        font-size: 30px;
      }
    }
  }
  .card-body {
    margin: 35px 0 60px;
    color: #596172;
  }
  .card-footer {
    .card-footer-tag {
      font-size: 14px !important;
      margin-bottom: 12px;
      margin-right: 10px;
      display: inline-block;
      box-shadow: 0px 2px 6px rgb(7 10 25 / 10%);
      padding: 6px 8px 4px;
      line-height: 1.2;
      margin-right: 10px;
      background: #fff;
      color: #4b4870;
    }
    .footer-author {
      .footer-avatar {
        width: 35px;
        height: 35px;

        > img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .footer-author-name {
        margin-left: 10px;
      }
    }
  }
}
