:host ::ng-deep .tagcloud-tag {
  max-width: 356px;
  .tag-item {
    font-size: 14px !important;
    margin-bottom: 12px;
    margin-right: 10px;
    display: inline-block;
    -webkit-box-shadow: 0px 2px 6px rgb(7 10 25 / 10%);
    box-shadow: 0px 2px 6px rgb(7 10 25 / 10%);
    padding: 6px 8px 4px;
    line-height: 1.2;
    margin-right: 10px;
    background: #fff;
    color: #4b4870;

    .tag-item-icon {
      margin-right: 3px;
    }
    .yellow-icon {
      color: #f9b439;
    }
    .green-icon {
      color: #49dfd4;
    }
    .red-icon {
      color: #ff486a;
    }
    .blue-icon {
      color: #3f8cff;
    }
    .purple-icon {
      color: #7171e2;
    }
    .trawberry-icon {
      color: #fb0699;
    }
  }

  .hover-yellow {
    &:hover {
      color: #f9b439;
    }
  }
  .hover-green {
    &:hover {
      color: #49dfd4;
    }
  }
  .hover-red {
    &:hover {
      color: #ff486a;
    }
  }
  .hover-blue {
    &:hover {
      color: #3f8cff;
    }
  }
  .hover-purple {
    &:hover {
      color: #7171e2;
    }
  }
  .hover-trawberry {
    &:hover {
      color: #fb0699;
    }
  }
}
