<div class="tagcloud-tag">
  <div class="tag-item buttontransform hover-yellow">
    <span class="tag-item-icon yellow-icon">#</span>Health
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon green-icon hover-green">#</span>Lifestyle
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon red-icon hover-red">#</span>Music
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-buttontransform blue-icon hover-blue">#</span
    >Technology
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon purple-icon hover-purple">#</span>Travel
  </div>
  <div class="tag-item buttontransform">
    <span class="tag-item-icon trawberry-icon hover-trawberry">#</span>Video
  </div>
</div>
