:host ::ng-deep .art-info {
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  .art-left {
    .art-img {
      width: 64px !important;
      height: 64px;

      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 95%;
        background-color: #fff;
      }
      .art-imgtest {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 94%;
        height: 94%;

      }
    }
  }
}
