<div class="art-info">
  <div class="art-left">
    <div
      class="art-img"
      [ngStyle]="{
        'background-image':
          'url(./../../assets/images/product/' + latestarticle.img + ')'
      }"
    >
      <img
        class="art-imgtest imgtransform"
        src="../../../assets/images/product/{{ latestarticle.img }}"
      />
    </div>
  </div>

  <div class="art-right" style="padding-left: 10px">
    <h4 class="art-content-top" style="font-size: 15px; color: #454360">
      <span class="buttontransform">{{ latestarticle.title }}</span>
    </h4>
    <div class="art-content-bottom" style="font-size: 12px">
      {{ latestarticle.date }}
    </div>
  </div>
</div>
