::ng-deep * {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  line-height: 1.5;
}

:host ::ng-deep .app {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}

// hoverstyle
:host ::ng-deep .buttontransform {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    -webkit-transform: translateY(-5px) !important;
    transform: translateY(-5px) !important;
  }
}
:host ::ng-deep .imgtransform {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: all 0.3s ease;
    -webkit-transform: translate(-62%, -62%) !important;
    transform: translate(-59%, -62%) !important;
  }
}

:host ::ng-deep .hover-underline {
  position: relative;

  &:hover {
    cursor: pointer;
    padding-top: 5px;
    background-color: #65ebe7;
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  :host ::ng-deep .header {
    padding-top: 0px !important;

    .header-logo {
      .header-logo-container {
        padding: 15px 20px;

        justify-content: space-between !important;
        .header-icon-container {
          display: none !important;
        }
        .header-logo-menu {
          display: block !important;

          > i {
            font-size: 31px;

            &:hover {
              cursor: pointer;
            }
          }
        }
        .header-title {
          font-size: 40px !important;
        }

        .header-button {
          margin-left: 0 !important;
        }
        .header-search-button {
          display: block;
        }
      }
    }
  }

  :host ::ng-deep .header-nav {
    .p-menubar {
      display: none !important;
    }
  }
  :host ::ng-deep .container {
    .container-left {
      width: 100% !important;
    }
    .container-right {
      display: none;
    }
  }

  :host ::ng-deep .p-datatable {
    .p-datatable-tbody {
      > tr {
        padding: 25px 25px 40px !important;
        margin-bottom: 50px !important;
      }
    }
  }
  :host ::ng-deep .card {

    .card-content-date {
      margin-top: 10px;
      display: block !important;
      color: #596172;
      font-size: 14px;
      text-align: center;
      > span {
        padding: 0 10px;

        .icon-color {
          color: #ff4c60;
        }
      }
      > span:first-child {
        position: relative;
        margin-left: -15px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 95%;
          background-color: #ff4c60;
          width: 15px;
          height: 2px;
        }
      }
    }
    .card-head {
      .card-head-left {
        .card-head-img {
          width: 85px !important;
          height: 85px !important;
          margin-right: 10px !important;
        }
      }



      .card-head-right {
        .card-content-top {
          margin-top: 20px;
          font-size: 18px !important;
        }
      }
      .card-content-bottom {
        display: none;
      }
    }
    .big-guy {
      display: block !important;

      .card-head-left {
        .card-head-img {
          width: 100% !important;
          height: 172px !important;
          margin-right: 0px !important;
          object-fit: cover;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
      }
      .card-head-right {
        display: flex;
        justify-content: center;
        align-items: center;
        .card-content-top {
          margin: 10px;
          font-size: 30px;
        }
        .card-content-bottom {
          display: none;

        }
      }
    }
    .card-body {
      text-align: center;
      margin: 20px 0 !important;
      font-size: 14px !important;
    }
    .card-footer {
      display: flex;
      justify-content: center;

      margin-bottom: 10px;
      .footer-author {
        display: none !important;
      }
    }
  }
  :host ::ng-deep .menu-sidebar {
    &.active {
      padding-top: 30px;
      width: 270px;
      transition: 0.5s;

      .p-panelmenu {
        .p-panelmenu-content {
          border: none;
        }
        .p-panelmenu-header {
          > a {
            border: none;
            background-color: #fff;
          }
        }
      }
    }
  }

  :host ::ng-deep .home {
    transition: 0.5s;
    &.active {
      margin-left: 540px;
      transition: 0.5s;
    }
  }
  :host ::ng-deep.product-item {
    position: relative;

    .product-item-content {
      text-align: center;
    }

    .product-image {
      width: 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0);
    }

    .product-item-content-bottom {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);

      .product-item-content-infor {
        margin: auto auto;
        padding: 25px 40px;
        text-align: center;
      }
    }
  }

  :host ::ng-deep .p-carousel {
    .p-carousel-indicators {
      display: none;
    }
    .p-carousel-prev,
    .p-carousel-next {
      display: none;
    }
  }
  :host ::ng-deep .p-button {
    &.p-button-icon-only {
      &.p-button-rounded {
        display: none;
      }
    }
  }

  :host ::ng-deep .footer {
    .subcribe {
      padding: 35px 25px !important;
      h4 {
        text-align: center;
        font-size: 26px;
        margin-bottom: 15px;
      }
      .subcribe-subtext {
        font-size: 13px;
      }
    }
    .footer-bottom {
      padding: 0 20px !important;

      .article-cart,
      .tagcloud-cart,
      .followme-tag,
      .aboutme-tag {
        padding: 0 !important;
      }
    }
  }
}
