::ng-deep * {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  line-height: 1.5;
}

:host ::ng-deep .app {
  background-color: #f9f9f9;

  .container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .container-right {
      width: 30%;
    }
  }
}

// hoverstyle
:host ::ng-deep .buttontransform {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    -webkit-transform: translateY(-5px) !important;
    transform: translateY(-5px) !important;
  }
}
:host ::ng-deep .imgtransform {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: all 0.3s ease;
    -webkit-transform: translate(-62%, -62%) !important;
    transform: translate(-59%, -62%) !important;
  }
}

:host ::ng-deep .hover-underline {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;

<<<<<<< HEAD
  &:hover {
    cursor: pointer;
    padding-top: 5px;
    background-color: #65ebe7;
    opacity: 1;
=======
  background-size: 100% 13%;
  background-position: left 80%;
  &:hover {
    cursor: pointer;
    padding-bottom: 7px;
    background-image: linear-gradient(to right, #65ebe7 0%, #65ebe7 100%);
    background-repeat: no-repeat;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
>>>>>>> c87ee367b042b1b19a759b76822269d9d7ef87e3
  }
}
