<div class="followme-tag">
  <app-title [title]="title"></app-title>

  <div class="card">
    <div
      class="flex md:flex-wrap card-container purple-container"
      style="max-width: 500px"
    >
      <div
        class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
        style="min-width: 50px; min-height: 50px; background-color: #63cdf1"
      >
        <i class="fa-brands fa-twitter"></i>
      </div>
      <div
        class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
        style="min-width: 50px; min-height: 50px ; background-color: #3563c2"
      >
        <i class="fa-brands fa-facebook-f"></i>
      </div>
      <div
        class="flex align-items-center justify-content-center  font-bold text-white m-2 border-round"
        style="min-width: 50px; min-height: 50px ; background-color: #e62ba9"
      >
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div
        class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
        style="min-width: 50px; min-height: 50px ; background-color: #f7b454"
      >
        <i class="fa-solid fa-rss"></i>
      </div>
    </div>
  </div>
</div>
