<div class="card" style="max-width: 1400px; margin: 0 auto">
  <div
    class="flex flex-wrap justify-content-center card-container blue-container"
  >
    <div><app-articlecart></app-articlecart></div>
    <div
      class="border-round w-12rem h-6rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center"
    >
      2
    </div>
    <div
      class="border-round w-12rem h-6rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center"
    >
      3
    </div>
    <div
      class="border-round w-12rem h-6rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center"
    >
      4
    </div>
  </div>
</div>
