<div class="subcribe">
  <div
    class="flex flex-wrap md:justify-content-center justify-content-center card-container"
  >
    <div
      class="flex flex-column justify-content-between justify-content-center align-center"
    >
      <h4>Subscribe to <span>M</span>aktub</h4>
      <p class="subcribe-subtext">
        Get the latest posts delivered right to your email.
      </p>
      <div class="p-grid p-fluid subcribe-submit">
        <div class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <input
              type="text"
              pInputText
              placeholder="Enter your email address"
            />
            <button class="p-inputgroup-addon">Submit</button>
          </div>
        </div>
      </div>
      <div
        class="flex flex-wrap md:justify-content-center justify-content-center card-container"
      >
        <div class="flex align-items-center justify-content-center">
          <div
            class="subcribe-icon-container flex align-items-center justify-content-center"
          >
            <a class="icon" href="">
              <i
                class="sub-facebook-icon fa-brands fa-facebook-f onhover-one  buttontransform"
              ></i>
            </a>
            <a class="icon" href="">
              <i class="sub-twitter-icon fa-brands fa-twitter onhover-one buttontransform"></i>
            </a>

            <a class="icon" href="">
              <i class="sub-instagram-icon fa-brands fa-instagram onhover-one buttontransform"></i>
            </a>

            <a class="icon" href="">
              <i class="sub-rss-icon fa-solid fa-rss onhover-one buttontransform"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
