<div class="subcribe" style="margin: 30px 0px 20px 0px">
  <div
    class="flex flex-wrap md:justify-content-center justify-content-center card-container"
  >
    <div
      class="flex flex-column justify-content-between justify-content-center align-center"
    >
      <h4 style="font-size: 38px; color: #454360; margin-bottom: 15px">
        Subscribe to <span style="color: #ff0081">M</span>aktub
      </h4>
      <p style="font-size: 16px; color: #596172">
        Get the latest posts delivered right to your email.
      </p>
      <div class="p-grid p-fluid" style="margin: 30px">
        <div class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <input
              type="text"
              pInputText
              placeholder="Enter your email address"
              style="
                background-color: #f9f9fe;
                padding: 15px 25px;
                color: #596172;
              "
            />
            <button
              class="p-inputgroup-addon"
              style="padding: 8px 25px; background-color: #4b4870; color: #fff"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex flex-wrap md:justify-content-center justify-content-center card-container"
      >
        <div class="flex align-items-center justify-content-center">
          <div
            class="flex align-items-center justify-content-center"
            style="padding: 5px 0; margin: 0 2px"
          >
            <a href="" style="width: 38px; text-align: center; margin: 0 2px">
              <i
                class="fa-brands fa-facebook-f onhover-one"
                style="color: #175beb; font-size: 24px"
              ></i>
            </a>
            <a href="" style="width: 38px; text-align: center; margin: 0 2px">
              <i
                class="fa-brands fa-twitter onhover-one"
                style="color: #1da1f2; font-size: 24px"
              ></i>
            </a>

            <a href="" style="width: 38px; text-align: center; margin: 0 2px">
              <i
                class="fa-brands fa-instagram onhover-one"
                style="color: #ef00a2; font-size: 24px"
              ></i>
            </a>

            <a href="" style="width: 38px; text-align: center; margin: 0 2px">
              <i
                class="fa-solid fa-rss onhover-one"
                style="color: #f26522; font-size: 24px"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
