:host ::ng-deep.title {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;

  .title-header {
    position: relative;
    z-index: 2;
    > h4 {
      font-size: 24px;
      font-weight: 700;
      color: #4b4870;
      z-index: 2;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 100%;
        z-index: -1;
        background-color: #fff;
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #ff4c60;
  }
}
