<div class="aboutmeinfo-tag">
  <div class="aboutmeinfor-top">
    <div class="aboutme-left">
      <img src="../../assets/images/product/{{ avatar }}" alt="images" />
    </div>

    <div class="aboutme-right">
      <p class="aboutme-right-name">Jonathan Doe</p>
      <p class="aboutme-right-job">Founder & Editor</p>
      <p class="aboutme-icon">
        <i class="fa-brands fa-twitter" style="color: #1da1f2"></i>
        <i
          class="fa-brands fa-facebook-f"
          style="color: #175beb; padding: 0 10px"
        ></i>
        <i class="fa-solid fa-earth-americas" style="color: red"></i>
      </p>
    </div>
  </div>
  <div class="aboutmeinfor-bottm">
    Hello! My name is Jonathan Doe working from Chile. I create some Ghost and
    Wordpress themes for differents markets, also, i offer live support via our
    ticket system.
  </div>
</div>
