<div class="aboutmeinfo-tag">
  <div class="aboutmeinfo-top">
    <div class="aboutme-left imgtransition buttontransform">
      <img
        src="../../assets/images/product/{{ aboutinfo.avatar }}"
        alt="images"
      />
    </div>

    <div class="aboutme-right">
      <p class="aboutme-right-name">{{ aboutinfo.name }}</p>
      <p class="aboutme-right-job">{{ aboutinfo.job }}</p>

      <span *ngFor="let item of aboutinfo.link">
        <i class="social-icon" [class]="item.icon" [style]="item.style"></i>
      </span>
    </div>
  </div>
  <div class="aboutmeinfo-bottm">{{ aboutinfo.text }}</div>
</div>
