<div class="card" style="max-width: 1240px; margin: 30px auto">
  <p-carousel
    [value]="products"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3">
            <img
              src="assets/images/product/{{ product.image }}"
              [alt]="product.name"
              class="product-image"
            />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
